@import "vars";
@import "mixin";

body {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #000;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
.btn_gotop {
  display: block;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 2%;
  bottom: 70px;
  z-index: 999;
  border: 1px solid #111;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  outline: none;
  background-color: white;
  cursor: pointer;
  &::before {
    display: block;
    width: 14px;
    height: 14px;
    margin: 18px auto 0;
    border: 1px solid #000;
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);
    content: "";
  }
  // padding: 15px 20px;
}
#logo {
  width: 15%;
  h1 {
    width: 172px;
    height: 42px;
    margin: 29px 0 0 78px;
    background-image: url(../images/layout/kidari_logo_white.png);
    background-size: 172px 42px;
  }
}
#header {
  width: 100%;
  height: 110px;
  position: fixed;
  z-index: 99;
  overflow: hidden;
  color: #fff;
  transition: all 0.25s ease-in-out;
  &.open {
    .btnAll {
      z-index: 99;

      span {
        color: #fff;
        background-color: #fff;

        &:nth-child(1) {
          top: 15px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          top: 13px;

          opacity: 0;
        }
        &:nth-child(3) {
          top: 15px;
          transform: rotate(-45deg);
        }
      }
    }
    #slideBar {
      left: 0;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }
  &.on {
    height: 400px;
    color: #111;
    background-color: #fff;
    &:after {
      background-color: #ccc;
    }
    #logo {
      width: 15%;
      h1 {
        width: 172px;
        height: 42px;
        margin: 29px 0 0 78px;
        background-image: url(../images/layout/kidari_logo.png);
        background-size: 172px 42px;
        transition: all 0.2s;
      }
    }
    .btnAll {
      span {
        background-color: #000;
      }
    }
  }
  &.scroll {
    border-bottom: 1px solid rgba(1, 1, 1, 0.05);
    color: #111;
    background-color: #fff;
    #logo {
      width: 15%;
      h1 {
        width: 172px;
        height: 42px;
        margin: 29px 0 0 78px;
        background-image: url(../images/layout/kidari_logo.png);
        background-size: 172px 42px;
        transition: all 0.2s;
      }
    }
    .btnAll {
      span {
        background-color: #000;
      }
    }
  }
  &.open.scroll {
    .btnAll {
      span {
        background-color: #fff;
      }
    }
  }
  #slideBar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    padding-top: 60px;
    opacity: 0;
    transition: all 0.3s ease-out;
    background-color: #111;
    .barInner {
      width: 1000px;
      position: absolute;
      top: 48%;
      left: 24%;
      transform: translateX(-50%);
      transform: translateY(-50%);

      .menuArea {
        margin: 10px 0;
        padding: 16px 0 24px;
        border-bottom: 1px solid #666;

        a {
          &:hover {
            text-decoration: underline;
          }
        }

        dl {
          display: flex;

          dt {
            width: 200px;
            margin-right: 20px;
            font-size: 24px;
            text-align: center;
            color: #fff;
          }
          dd {
            width: 130px;
            padding: 5px 0;
            font-size: 18px;
            text-align: center;
            color: #999;
            letter-spacing: -1px;
            float: left;

            ul {
              display: block;
              margin-top: 20px;
              font-size: 16px;
              color: #666;
              line-height: 1.7;
            }
          }
        }
      }
      .last {
        border-bottom: none;
      }
    }
  }

  .btnAll {
    display: block;
    width: 60px;
    height: 41px;
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

    span {
      display: block;
      width: 34px;
      height: 3px;
      position: absolute;

      z-index: 2;

      transition: all 0.25s ease;

      background-color: #fff;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 13px;
      }
      &:nth-child(3) {
        top: 26px;
      }
    }
  }
}
#gnb {
  .list {
    display: block;
    position: absolute;
    top: 22px;
    left: 34%;
    padding: 20px 0;

    > li {
      width: 160px;
      text-align: center;
      float: left;

      &:hover {
        .depth01 {
          &:before {
            transform: scaleX(1);
          }
        }
      }
    }
    .depth01 {
      position: relative;
      font-size: 22px;
      &::before {
        width: 100%;
        height: 4px;
        bottom: -10px;
        left: -10px;
        padding: 0 10px;
        transform: scaleX(0);
        transition: all 0.3s;
        background-color: #1b1b1b;
        @include pseudo();
      }
    }
    .depth02 {
      padding-top: 40px;
      font-size: 16px;

      li {
        line-height: 230%;
        &:hover {
          color: #e42ca6;
          transition: all 0.2s;
        }
      }
    }
  }
}
#wrapper {
  width: 100vw;
  .contentsContainer {
    #sub_visual {
      height: 480px;
      position: relative;
      .img {
        height: 100%;
        background-image: url("../images/careers/sub_visual_3.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        .txt_wrap {
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          color: #fff;
          transform: translateX(-50%) translateY(-50%);
          h3 {
            font-size: 54px;
            font-weight: 700;
          }
          .txt_1 {
            margin-top: 30px;
            padding: 0 10px;
            font-size: 18px;
            line-height: 1.5;
          }
        }
      }
    }
    .locationWrap {
      height: 68px;
      border-bottom: 1px solid #e3e3e3;
      .locationInner {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        .homeIcon {
          display: block;
          width: 68px;
          height: 68px;
          position: relative;
          border-right: 1px solid #e3e3e3;
          border-left: 1px solid #e3e3e3;
          .roof {
            &::before {
              display: block;
              width: 12px;
              height: 12px;
              position: absolute;
              top: 28px;
              left: 28px;
              border-top: 2px solid #000;
              border-left: 2px solid #000;
              transform: rotate(45deg);
              content: "";
            }
            &::after {
              display: block;
              width: 10px;
              height: 10px;
              position: absolute;
              top: 31px;
              left: 28px;
              border: 2px solid #000;
              border-top: none;
              content: "";
            }
          }
        }
        .locationSelectArea {
          width: 220px;
          position: relative;
          text-align: center;
          span {
            &::before {
              display: inline-block;
              width: 1px;
              height: 14px;
              position: absolute;
              top: 40%;
              right: 20px;
              transform: rotate(45deg);
              content: "";
              background-color: #000;
            }
            &::after {
              display: inline-block;
              width: 1px;
              height: 14px;
              position: absolute;
              top: 40%;
              right: 30px;
              transform: rotate(-45deg);
              content: "";
              background-color: #000;
            }
          }
          select {
            width: 100%;
            height: 100%;
            padding-left: 24px;
            border: 1px solid transparent;
            border-right: 1px solid #e3e3e3;
            font-size: 20px;
            appearance: none;
            outline: none;
          }
        }
        .typeA {
          width: 260px;
        }
      }
    }
    .contents {
      .titleWrap {
        h4 {
          margin-top: 80px;
          font-size: 66px;
          font-weight: 700;
          text-align: center;
        }
      }
      .subWrap {
        position: relative;
        margin: 100px 0;
        .areaInner {
          width: 1200px;
          margin: 80px auto 0 auto;
          .careersJob {
            margin: 100px 0;
            h3 {
              position: relative;
              font-size: 30px;
              font-weight: 700;
              color: #e42ca6;
              &::before {
                display: block;
                width: 22px;
                height: 1px;
                position: absolute;
                top: -10px;
                left: 0;
                content: "";
                background-color: #e42ca6;
              }
            }
            ul {
              display: flex;
              flex-wrap: wrap;
              margin-top: 50px;
              li {
                width: calc(100% / 3);
                margin-bottom: 16px;
                a {
                  font-size: 18px;
                  font-weight: 700;
                  letter-spacing: -1;
                }
              }
            }
            .txtBox {
              display: none;
              margin-top: 60px;
              padding: 34px 36px;
              background-color: #f9f9f9;
              &.on {
                display: block;
              }
              p {
                margin-top: 10px;
                font-size: 16px;
                line-height: 1.5;
                word-break: keep-all;
              }
            }
          }
          .employ {
            margin-bottom: 120px;
            h5 {
              margin-bottom: 40px;
              font-size: 28px;
              font-weight: 700;
              text-align: center;
            }
          }
          .person {
            h2 {
              margin-bottom: 24px;
            }
            p {
              margin-bottom: 80px;
              font-size: 24px;
              font-weight: 400;
              text-align: center;
              line-height: 1.5;
              span {
                color: #f22fb0;
                strong {
                  font-weight: 700;
                }
              }
            }
            .personImg {
              text-align: center;
            }
          }
          .welfare {
            ul {
              display: flex;
              flex-wrap: wrap;
              li {
                margin-right: 15px;
                margin-bottom: 15px;
                &:nth-child(3n) {
                  margin-right: 0;
                }
                .wBox {
                  width: 390px;
                  height: 250px;
                  margin: 0px auto 0;
                  padding: 46px 0;
                  border: 1px solid #f6f6f6;
                  box-sizing: border-box;
                  text-align: center;

                  span {
                    display: block;
                    margin: 14px 0 8px 0;
                    font-size: 20px;
                    font-weight: 700;
                  }
                  p {
                    font-size: 16px;
                    line-height: 1.5;
                  }
                }
              }
            }
          }
          .process {
            ul {
              margin-top: 60px;
              li {
                position: relative;
                margin-bottom: 10px;
                font-size: 16px;
                color: #666;
                &::before {
                  display: block;
                  width: 2px;
                  height: 2px;
                  position: absolute;
                  top: 50%;
                  left: -15px;
                  transform: translateY(-50%);
                  content: "";
                  background-color: #000;
                }
              }
            }
          }
          .jobPosting {
            .workListArea {
              box-sizing: border-box;
              .postHead {
                height: 70px;
                margin-top: 40px;
                border-top: 2px solid #000;
                border-bottom: 1px solid #e3e3e3;
                line-height: 70px;
                span {
                  display: inline-block;
                  font-size: 18px;
                  text-align: center;
                  &.kind {
                    width: 100px;
                  }
                  &.post {
                    width: 800px;
                  }
                  &.period {
                    width: 200px;
                  }
                  &.now {
                    width: 88px;
                  }
                }
              }
              ul {
                li {
                  border-bottom: 1px solid #e3e3e3;
                  transition: all 0.3s ease-in-out;
                  cursor: pointer;
                  &:hover {
                    background-color: #f6f6f6;
                  }
                  .boardLi {
                    display: flex;
                    height: 70px;
                    position: relative;
                    line-height: 70px;
                    .kindEl {
                      width: 100px;
                      font-size: 18px;
                      text-align: center;
                      color: #999;
                    }
                    .postTitle {
                      width: 800px;
                      padding-left: 40px;
                      box-sizing: border-box;
                      font-size: 18px;
                      text-align: left;
                    }
                    .date {
                      padding-left: 20px;
                      font-size: 14px;
                      color: #999;
                    }
                    .end {
                      display: block;
                      width: 68px;
                      height: 30px;
                      position: absolute;
                      top: 50%;
                      right: 10px;
                      font-size: 13px;
                      text-align: center;
                      color: #fff;
                      line-height: 30px;
                      transform: translateY(-50%);
                      cursor: default;
                      background-color: #dcdcdc;
                      border-radius: 15px;
                    }
                  }
                  .postDesc {
                    display: none;
                    width: 100%;
                    height: 100%;
                    padding: 52px 40px 30px 40px;
                    box-sizing: border-box;
                    font-size: 9pt;
                    text-align: left;
                    line-height: 2;
                    background-color: #f6f6f6;
                    word-break: keep-all;
                    &.on {
                      display: block;
                    }
                  }
                }
              }
            }
          }
          .pagination {
            margin-top: 80px;
            text-align: center;
            a {
              display: inline-block;
              width: 36px;
              height: 36px;
              position: relative;
              margin-right: 0.1px;
              box-sizing: border-box;
              text-align: center;
              line-height: 36px;
              transition: all 0.2s ease;
              vertical-align: middle;
              &:hover {
                background-color: #f3f3f3;
              }
            }
            .preview {
              &::after {
                position: absolute;
                left: 35%;
                font-family: "Material Icons";
                font-size: 18px;
                font-weight: 500;
                content: "\e5e0";
              }
            }
            .next {
              &::after {
                position: absolute;
                right: 25%;
                font-family: "Material Icons";
                font-size: 18px;
                font-weight: 500;
                content: "\e5e1";
              }
            }
            .first {
              &::before {
                position: absolute;
                left: 30%;
                font-family: "Material Icons";
                font-size: 18px;
                font-weight: 300;
                content: "\e5e0";
              }
              &::after {
                position: absolute;
                left: 45%;
                font-family: "Material Icons";
                font-size: 18px;
                font-weight: 300;
                content: "\e5e0";
              }
            }
            .last {
              &::before {
                position: absolute;
                left: 20%;
                font-family: "Material Icons";
                font-size: 18px;
                font-weight: 300;
                content: "\e5e1";
              }
              &::after {
                position: absolute;
                left: 35%;
                font-family: "Material Icons";
                font-size: 18px;
                font-weight: 300;
                content: "\e5e1";
              }
            }
            .page {
              font-size: 15px;
              &.on {
                color: #fff;
                background-color: #000;
              }
            }
          }
        }
      }
    }
  }
}

#footer {
  position: relative;
  padding-top: 50px;
  color: #666;
  background-color: #333;

  .footMain {
    display: flex;
    justify-content: center;
    text-align: center;
    a {
      margin: 0 15px 30px;
    }
  }
  address {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    line-height: 140%;
  }
  .footMenuBox {
    height: 70px;
    position: relative;
    margin-top: 50px;
    line-height: 70px;
    background-color: #373737;
    a {
      width: 266px;
      height: 70px;
      position: absolute;
      top: 0;
      left: 20%;
      border-right: 1px solid #3f434b;
      border-left: 1px solid #3f434b;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: #999;
      line-height: 70px;
      background: none;
    }
    ul {
      transform: translateX(43%);
      .footMenu {
        float: left;
        a {
          display: block;
          width: 79px;
          height: 23px;
          position: relative;
          margin: 0 20px;
          margin-top: 23px;
          border: none;
          @for $i from 1 to 7 {
            &.footVisual0#{$i} {
              background-image: url("../images/layout/foot_bi_#{$i}.png");
            }
          }
          background: {
            repeat: no-repeat;
            size: 72px 22px;
          }
        }
      }
    }
  }
}
