@import "vars";
@import "mixin";

body {
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  // height: 100vh;
  overflow-x: hidden;
  .btn_gotop {
    display: block;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 2%;
    bottom: 70px;
    z-index: 999;
    border: 1px solid #111;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    outline: none;
    background-color: white;
    cursor: pointer;
    &::before {
      display: block;
      width: 14px;
      height: 14px;
      margin: 18px auto 0;
      border: 1px solid #000;
      border-right: none;
      border-bottom: none;
      transform: rotate(45deg);
      content: "";
    }
    // padding: 15px 20px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
#logo {
  width: 15%;
  h1 {
    width: 172px;
    height: 42px;
    margin: 29px 0 0 78px;
    background-image: url(../images/kidari_logo_white.png);
    background-size: 172px 42px;
  }
}
#scrollNav {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 2;
  transform: translateY(-50%);
  .scrollBox {
    li {
      margin-bottom: 25px;
      &::before {
        display: block;
        width: 20px;
        height: 1px;
        margin-bottom: 16px;
        content: "";
        background-color: #fff;
      }
      span {
        // color: #fff;
        display: none;
        position: relative;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
  &.scroll {
    .scrollBox {
      li {
        &::before {
          width: 50px;
        }
      }
    }
  }
}
#header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 99;
  overflow: hidden;
  color: #fff;
  transition: all 0.25s ease-in-out;
  &.open {
    .btnAll {
      z-index: 99;

      span {
        color: #fff;
        background-color: #fff;

        &:nth-child(1) {
          top: 15px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          top: 13px;

          opacity: 0;
        }
        &:nth-child(3) {
          top: 15px;
          transform: rotate(-45deg);
        }
      }
    }
    #slideBar {
      left: 0;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }
  &.on {
    height: 330px;
    color: #111;
    background-color: #fff;
    &:after {
      background-color: #ccc;
    }
    #logo {
      width: 15%;
      h1 {
        width: 172px;
        height: 42px;
        margin: 29px 0 0 78px;
        background-image: url(../images/kidari_logo.png);
        background-size: 172px 42px;
        transition: all 0.2s;
      }
    }
    .btnAll {
      span {
        background-color: #000;
      }
    }
    #gnb .list .depth02 {
      opacity: 1;
    }
  }
  &.scroll {
    border-bottom: 1px solid #eee;
    color: #111;
    background-color: #fff;
    // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    #logo {
      width: 15%;
      h1 {
        width: 172px;
        height: 42px;
        margin: 29px 0 0 78px;
        background-image: url(../images/kidari_logo.png);
        background-size: 172px 42px;
        transition: all 0.2s;
      }
    }
    .btnAll {
      span {
        background-color: #000;
      }
    }
  }
  &.open.scroll {
    .btnAll {
      span {
        background-color: #fff;
      }
    }
  }
  &.on.open {
    .btnAll {
      span {
        background-color: #fff;
      }
    }
  }
  #slideBar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    padding-top: 60px;
    opacity: 0;
    transition: all 0.3s ease-out;
    background-color: #111;
    .barInner {
      width: 1000px;
      position: absolute;
      top: 48%;
      left: 24%;
      transform: translateX(-50%);
      transform: translateY(-50%);

      .menuArea {
        margin: 10px 0;
        padding: 16px 0 24px;
        border-bottom: 1px solid #666;

        a {
          &:hover {
            text-decoration: underline;
          }
        }

        dl {
          display: flex;

          dt {
            width: 200px;
            margin-right: 20px;
            font-size: 24px;
            text-align: center;
            color: #fff;
          }
          dd {
            width: 130px;
            padding: 5px 0;
            font-size: 18px;
            text-align: center;
            color: #999;
            letter-spacing: -1px;
            float: left;

            ul {
              display: block;
              margin-top: 20px;
              font-size: 16px;
              color: #666;
              line-height: 1.7;
            }
          }
        }
      }
      .last {
        border-bottom: none;
      }
    }
  }

  .btnAll {
    display: block;
    width: 60px;
    height: 41px;
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

    span {
      display: block;
      width: 34px;
      height: 3px;
      position: absolute;

      z-index: 2;

      transition: all 0.25s ease;

      background-color: #fff;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 13px;
      }
      &:nth-child(3) {
        top: 26px;
      }
    }
  }
}

#gnb {
  .list {
    display: block;
    position: absolute;
    top: 18px;
    left: 34%;
    padding: 22px 0;

    > li {
      width: 160px;
      text-align: center;
      float: left;

      &:hover {
        .depth01 {
          &:before {
            transform: scaleX(1);
          }
        }
      }
    }
    .depth01 {
      position: relative;
      font-size: 20px;

      &::before {
        width: 100%;
        height: 4px;
        bottom: -10px;
        left: -10px;
        padding: 0 10px;
        transform: scaleX(0);
        transition: all 0.3s;
        background-color: #1b1b1b;
        @include pseudo();
      }
    }
    .depth02 {
      padding-top: 30px;
      font-size: 14px;
      opacity: 0;

      li {
        line-height: 230%;

        &:hover {
          color: #e42ca6;
          transition: all 0.2s;
        }
      }
    }
  }
}

#footer {
  position: relative;
  padding-top: 50px;
  color: #666;
  background-color: #333;

  .footMain {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    a {
      margin: 0 15px 30px;
    }
  }
  address {
    display: flex;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    line-height: 140%;
  }
  .footMenuBox {
    height: 70px;
    position: relative;
    margin-top: 50px;
    line-height: 70px;
    background-color: #373737;
    a {
      width: 266px;
      height: 70px;
      position: absolute;
      top: 0;
      left: 20%;
      border-right: 1px solid #3f434b;
      border-left: 1px solid #3f434b;
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      color: #999;
      line-height: 70px;
      background: none;
    }
    ul {
      transform: translateX(43%);
      .footMenu {
        float: left;
        a {
          display: block;
          width: 79px;
          height: 23px;
          position: relative;
          margin: 0 15px;
          margin-top: 23px;
          border: none;
          @for $i from 1 to 7 {
            &.footVisual0#{$i} {
              background-image: url("../images/foot_bi_#{$i}.png");
            }
          }
          background: {
            repeat: no-repeat;
            size: 68px 20px;
          }
        }
      }
    }
  }
}
