@import "vars";
@import "mixin";

#mainVisual {
  width: 100%;
  position: relative;
  overflow: hidden;

  @keyframes mainAnimation {
    0% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }
  @keyframes mouseAnimation {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }

    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  ul {
    li {
      position: relative;
      .visual01 {
        transform: scale(1.2);
      }
      .visual02 {
        transform: scale(1.2);
      }
      .visual03 {
        transform: scale(1.2);
      }
    }
    .slide01 {
      .txtBox {
        display: block;
        position: absolute;
        top: 40%;
        left: 11%;
        color: #fff;

        .txt01 {
          display: flex;
          justify-content: start;
          margin-bottom: 20px;
          font-size: 78px;
          font-weight: 700;
          // transition: all 4s ease;
          transform: translateX(-5%);
          opacity: 0;

          ::after {
            display: inline-block;
            width: 152px;
            height: 1px;
            position: absolute;
            top: 45px;
            right: -110px;
            content: "";
            background-color: #fff;
          }
          :nth-child(3) {
            margin-right: 20px;
          }
        }
        .txt02 {
          display: flex;
          justify-content: start;
          margin-bottom: 40px;
          font-size: 60px;
          font-weight: 300;
          transform: translateX(5%);
          opacity: 0;
          :nth-child(5) {
            margin-right: 20px;
          }
        }
        .txt03 {
          margin-bottom: 15px;
          font-size: 18px;
          font-weight: 200;
          transform: translateX(-5%);
          opacity: 0;
        }
        .txt04 {
          font-size: 18px;
          font-weight: 200;
          transform: translateX(-5%);
          opacity: 0;
        }
      }
    }
    .slide02,
    .slide03 {
      .txtBox {
        display: block;
        position: absolute;
        top: 40%;
        left: 50%;
        color: #fff;
        transform: translateX(-50%);
        .txt01 {
          display: flex;
          justify-content: start;
          margin-bottom: 20px;
          font-size: 86px;
          font-weight: 700;
          transform: translateX(-5%);
          opacity: 0;
          ::after {
            display: inline-block;
            width: 152px;
            height: 1px;
            position: absolute;
            top: 45px;
            right: -110px;
            content: "";
            background-color: #fff;
          }
          :nth-child(3) {
            margin-right: 20px;
          }
        }
        .txt02 {
          display: flex;
          justify-content: start;
          margin-bottom: 40px;
          font-size: 66px;
          font-weight: 300;
          transform: translateX(5%);
          opacity: 0;
          :nth-child(5) {
            margin-right: 20px;
          }
        }
        p {
          font-size: 20px;
          font-weight: 200;
          text-align: center;
        }
        .txt03 {
          margin-bottom: 15px;
          transform: translateY(50%);
          opacity: 0;
        }
        .txt04 {
          transform: translateY(50%);
          opacity: 0;
        }
      }
    }
    .slide03 {
      .txtBox {
        .txt01 {
          transform: translateY(50%);
          opacity: 0;
        }
        .txt02 {
          transform: translateY(50%);
          opacity: 0;
        }
      }
    }
    .swiper-slide-active {
      img {
        transform: scale(1);
        transition: all 20s ease-out;
      }

      .txtBox {
        .txt01 {
          transform: translateX(0%);
          transform: translateY(0%);
          opacity: 1;
          transition: all 0.5s 0.7s ease;
        }
        .txt02 {
          transform: translateX(0%);
          transform: translateY(0%);
          opacity: 1;
          transition: all 0.5s 0.7s ease;
        }
        .txt03 {
          transform: translateX(0%);
          transform: translateY(0%);
          opacity: 1;
          transition: all 0.5s 0.9s ease;
        }
        .txt04 {
          transform: translateX(0%);
          transform: translateY(0%);
          opacity: 1;
          transition: all 0.5s 1s ease;
        }
      }
      .slide03 {
        .txtBox {
          .txt01 {
            span {
              transition: all 0.5s 0.2s ease;
            }
          }
          .txt02 {
            span {
              transition: all 0.5s 0.2s ease;
            }
          }
        }
      }
    }
  }
  button {
    width: 50px;
    height: 50px;
    z-index: 2;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    transform: translateY(650%);
    background: none;
    cursor: pointer;
    @include absCenter(false, true);
    &:hover {
      color: #fff;
      transition: all 0.4s ease-in-out;
    }

    .material-icons {
      font-size: 30px;
    }
    &.prev {
      left: 29%;
    }
    &.next {
      left: 30.5%;
    }
  }
  .pagination {
    position: absolute;
    bottom: 9.5%;
    z-index: 1;
    // text-align: center;
    .swiper-pagination-bullet {
      width: 35px;
      height: 2px;
      position: relative;
      left: 15%;
      opacity: 1;
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0.1);
      &::after {
        @include pseudo;
        @include box(0, 100%, #fff);
      }
      &-active::after {
        width: 100%;
      }
    }
  }
  .mouseScroll {
    display: block;
    width: 100px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    z-index: 1;
    margin-left: -50px;
    text-align: center;
    transition: all 0.2s;
    animation: mouseAnimation 0.7s infinite;
    animation-duration: 1.5s;

    .mouse {
      width: 32px;
      height: 48px;
      position: relative;

      margin: 0 auto 10px;
      border: 2px solid #fff;
      box-sizing: border-box;
      border-radius: 32px;

      &::before {
        display: block;
        width: 4px;
        height: 8px;
        position: absolute;
        top: 8px;
        left: 12px;
        content: "";
        background-color: #fff;
      }
    }
    span {
      position: relative;
      font-weight: 200;
      text-align: center;
      color: #fff;
      &::after {
        display: block;
        width: 1px;
        height: 40px;
        position: absolute;
        top: 48px;
        left: 43px;
        content: "";
        background-color: #fff;
      }
    }
  }
}

#reWork {
  position: relative;
  margin-top: 120px;
  padding-bottom: 200px;
  @keyframes fadein {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 54px;
    font-weight: 700;
    transform: translateY(-20%);
    opacity: 0;
  }
  p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    line-height: 1.7;
    transform: translateY(-20%);
    opacity: 0;
  }
  .repArea {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    .swiper-container {
      display: flex;
      width: 350px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      margin: 0 30px;
      transform: translateY(10%);
      opacity: 0;

      .swiper-wrapper {
        // position: relative;

        .swiper-slide {
          width: 100%;
          height: 520px;
          overflow: hidden;
          cursor: pointer;
          img {
            height: 520px;
            transition: transform 0.3s ease-in-out;
          }
          &:hover {
            img {
              transform: scale(1.1);
              filter: brightness(50%);
            }
            .border {
              span:nth-child(1) {
                transform: scaleX(1);
              }
              span:nth-child(2) {
                transform: scaleY(1);
              }
              span:nth-child(3) {
                transform: scaleX(1);
              }
              span:nth-child(4) {
                transform: scaleY(1);
              }
            }
          }
          .border {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            span {
              position: absolute;
              transition: transform 0.25s ease;
              // background-color: #000;

              // background-color: #e42ca6;

              &:nth-child(1) {
                width: 100%;
                height: 10px;
                top: 0;
                left: 0;
                transform: scaleX(0);
                background: linear-gradient(to right, #e42ca6 0%, #08205f 100%);
                transform-origin: 0 50%;
                transition-delay: 0.1s;
              }
              &:nth-child(2) {
                width: 10px;
                height: 100%;
                top: 0;
                right: 0;
                transform: scaleY(0);
                background: linear-gradient(to bottom, #08205f 0%, #e42ca6 100%);
                transform-origin: 50% 0;
                transition-delay: 0.1s;
              }
              &:nth-child(3) {
                width: 100%;
                height: 10px;
                bottom: 0;
                left: 0;
                transform: scaleX(0);
                background: linear-gradient(to left, #e42ca6 0%, #08205f 100%);
                transform-origin: 100% 50%;
                transition-delay: 0.1s;
              }
              &:nth-child(4) {
                width: 10px;
                height: 100%;
                top: 0;
                left: 0;
                transform: scaleY(0);
                background: linear-gradient(to top, #08205f 0%, #e42ca6 100%);
                transform-origin: 50% 100%;
                transition-delay: 0.1s;
              }
            }
          }
        }
      }
    }
  }
  .box1 {
    display: inline-block;
    width: 10%;
    height: 110px;
    position: absolute;
    top: auto;
    bottom: 34%;
    left: 0;
    transform: scaleX(0);
    // opacity: 0;
    background-color: #81cf38;
    transform-origin: 0% 100%;
  }

  .box2 {
    display: inline-block;
    // position: absolute;
    width: 13%;
    height: 90px;
    position: absolute;
    top: auto;
    bottom: 25%;
    left: 0;
    transform: scaleX(0);
    // opacity: 1;
    background-color: #00113d;
    transform-origin: 0% 100%;
  }
  .box3 {
    display: inline-block;
    width: 70%;
    height: 200px;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 25%;
    transform: scaleX(0);
    background-color: #e42ca6;
    transform-origin: 100% 0%;
  }
  &.scroll {
    opacity: 1;
    h3 {
      transform: translateY(0%);
      opacity: 1;
      transition: all 0.5s ease 0.5s;
    }
    p {
      transform: translateY(0%);
      opacity: 1;
      transition: all 0.5s ease 0.8s;
    }
    .repArea {
      .swiper-container {
        transform: translateY(0%);
        opacity: 1;
        transition: all 0.5s ease 0.2s;
      }
    }
    .box1 {
      transform: scaleX(1);
      transition: all 0.5s ease 0.5s;
      animation: fadein 1.5s;
    }
    .box2 {
      transform: scaleX(1);
      transition: all 0.4s ease 0.75s;
      animation: fadein 1.5s;
    }
    .box3 {
      transform: scaleX(1);
      transition: all 0.3s ease 1s;
      animation: fadein 1.5s;
    }
  }
}

#toon {
  width: 100%;
  overflow: hidden;
  opacity: 0;

  .swiper-wrapper {
    position: relative;

    a {
      width: 50%;
      height: 800px;
      z-index: -2;
      color: #fff;

      i {
        position: absolute;
        top: 80%;
        left: 50%;
        font-size: 36px;
        font-weight: 700;
        transform: translateX(20%);
        opacity: 0;
        &::before {
          display: block;
          width: 100px;
          height: 1px;
          position: absolute;
          right: -120px;
          bottom: 4px;
          opacity: 0.5;
          content: "";
          background-color: #fff;
        }

        em {
          font-weight: 300;
          &::after {
            display: block;
            width: 28px;
            height: 1px;
            position: absolute;
            right: -124px;
            bottom: 12px;
            transform: rotate(35deg);
            opacity: 0.5;
            content: "";
            background-color: #fff;
          }
        }
      }

      span {
        display: flex;
        width: 710px;
        height: 690px;
        position: absolute;
        left: 18%;
        margin-top: 110px;
        transform: translateX(5%);
        opacity: 0;
      }
      .service {
        position: absolute;
        top: 68%;
        left: 30%;
        z-index: -1;
        font-size: 125px;
        font-weight: 700;
        transform: translateY(5%);
        opacity: 0;
      }
    }

    .txtBox {
      width: 50%;
      height: 850px;
      background-color: #fff;
      // opacity: 0;

      h3 {
        margin-top: 200px;
        margin-bottom: 50px;
        padding-left: 60px;
        font-size: 54px;
        font-weight: 600;
        transform: translateX(-5%);
        opacity: 0;

        &::before {
          display: block;
          width: 170px;
          height: 1px;
          position: absolute;

          top: 50%;
          right: 82%;
          margin-right: 100px;
          content: "";
          background-color: #000;
        }
      }
      p {
        padding-right: 150px;
        padding-left: 60px;
        font-weight: 300;
        line-height: 2;
        // transform: translateX(-10%);
      }
    }
    .swiper-slide {
      display: flex;
      position: relative;
      a {
        z-index: 10;
      }
      .box {
        width: 50%;
        height: 25%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
      }

      .box02 {
        top: 25%;
      }
      .box03 {
        top: 50%;
      }
      .box04 {
        top: 75%;
      }
    }
    .bomtoon {
      span {
        background-image: url(../images/img_service_1.png);
        background-size: cover;
        // opacity: 0;
      }
      .box {
        background-color: #e42ca6;
      }
    }

    .delitoon {
      span {
        background-image: url(../images/img_service_3.png);
        background-size: cover;
      }
      .box {
        background-color: #6727a9;
      }
    }
    .swiper-slide-active {
      a {
        transform: translateX(0%);

        span {
          transform: translateX(0%);
          opacity: 1;
          transition: all 0.5s 0.5s;
        }
        i {
          transform: translateX(0%);
          opacity: 1;
          transition: all 0.5s 0.5s;
        }
        .service {
          transform: translateY(0%);
          opacity: 0.1;
          transition: all 0.5s 0.5s;
        }
      }
      .txtBox {
        h3 {
          transform: translateX(0%);
          opacity: 1;
          transition: all 0.5s 0.5s ease;
        }
        p {
          opacity: 1;
          animation: upDown 0.5s 0.5s both;
        }
      }
      .box {
        animation: leftRight 0.3s both;
      }
      .box01 {
        animation-delay: 0;
      }
      .box02 {
        animation-delay: 0.1s;
      }
      .box03 {
        animation-delay: 0.2s;
      }
      .box04 {
        animation-delay: 0.3s;
      }
    }
  }
  button {
    width: 80px;
    height: 80px;
    // @include absCenter(true, false);
    position: absolute;
    left: 50%;
    z-index: 2;
    border: 1px solid #999;
    box-sizing: border-box;
    color: #000;
    transform: translateY(-300%);
    background: none;
    opacity: 0;
    cursor: pointer;
    .material-icons {
      font-size: 60px;
      color: #999;
    }
    &.prev {
      left: 53.5%;
    }
    &.next {
      left: 58%;
    }
  }
  .pagination {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    z-index: 1;
    opacity: 0;

    .swiper-pagination-bullet {
      width: 35px;
      height: 2px;
      position: relative;
      top: 310%;
      left: 54%;
      // transform: translateY(-100%);
      opacity: 1;
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0.1);
      &::after {
        @include pseudo;
        @include box(0, 100%, #e42ca6);
      }
      &-active::after {
        width: 100%;
      }
    }
  }

  &.scroll {
    opacity: 1;
    animation: fadein 1s;
    button {
      opacity: 1;
    }
    .pagination {
      opacity: 1;
    }
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes upDown {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

#company {
  height: 860px;
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  transform: translateY(10%);
  opacity: 0;
  background-color: #222;
  // transform-origin: bottom left 2cm;
  // transform-origin: bottom;
  h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 100px;
    font-size: 54px;
    font-weight: 700;
    color: #fff;
    transform: translateY(30%);
    opacity: 0;
  }
  .swiper-container {
    width: 100%;
    height: 610px;
    // margin: 220px auto 0;

    .swiper-wrapper {
      display: flex;
      position: relative;
      box-sizing: content-box;
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 450px;
        transform: scaleX(0.8);
        opacity: 0.08;
        transition: all 0.3s ease;
        @for $i from 1 to 9 {
          &.company0#{$i} {
            background-image: url("../images/img_company_#{$i}.jpg");
          }
        }

        background: {
          position: center;
          size: contain;
          repeat: no-repeat;
        }

        p {
          display: none;
          position: absolute;
          top: 100%;
          margin-top: 30px;
          font-size: 14px;
          font-weight: 400;

          // left: 42%;
          text-align: center;
          color: #fff;
          line-height: 2;
        }
      }
      .swiper-slide-active {
        transform: scaleX(1);
        opacity: 1;

        p {
          display: block;
        }
      }
    }

    .btnAll {
      width: 0;
      height: 0;

      // position: absolute;
      cursor: pointer;
      &::before {
        display: block;
        width: 140px;

        height: 1px;
        position: absolute;
        // bottom: 0px;
        bottom: 50%;
        z-index: 1;
        content: "";
        background-color: #fff;
        // left: 0px;
      }
      &::after {
        position: absolute;
        top: 46%;
        z-index: 1;
        font-size: 18px;
        color: #fff;
      }
    }
    .prev {
      &::before {
        left: 12%;
      }
      &::after {
        left: 12%;
        content: "이전";
      }
    }
    .next {
      &::before {
        right: 12%;
      }
      &::after {
        right: 12%;
        content: "다음";
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      z-index: 1;

      .swiper-pagination-bullet {
        width: 25px;
        height: 2px;
        position: relative;
        margin-bottom: 70px;
        opacity: 1;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.1);
        &::after {
          @include pseudo;
          @include box(0, 100%, #e42ca6);
        }
        &-active::after {
          width: 100%;
        }
      }
    }
  }
  &.scroll {
    transform: translateY(0%);
    opacity: 1;
    transition: all 0.3s ease;
    animation: fadein 0.6s;
    h3 {
      transform: translateY(0%);
      opacity: 1;
      transition: all 0.3s ease 0.6s;
    }
  }
}

#videoView {
  background: {
    image: url("../images/video_bg.jpg");
    size: cover;
    repeat: no-repeat;
  }
  h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 100px;
    font-size: 54px;
    font-weight: 700;
    color: #fff;
    transform: translateY(10%);
    opacity: 0;
  }
  video {
    display: block;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 150px;
  }
  &.scroll {
    h3 {
      transform: translateY(0%);
      opacity: 1;
      transition: all 0.25s ease 0.5s;
    }
  }
}
// 스크롤메뉴
// 메인비쥬얼--------------
// 텍스트 애니메이션
// 이미지 줌아웃 시간 각각지정 넘기면 리셋되도록

// 대표작품 -=----------
// 애니메이션 딜레이만 잘맞춰보고 스크롤 밑에서 올라갈때도 작동되게

// 툰 ---------
// 처음도달시 전부애니메이션
// 넘길때마다 애니메이션리셋

// 회사전경 ---------
// 스크롤내릴때 등장
// 센터이미지 텍스트만 나오게
// 좌우 이미지는 어둡게
// 좌우텍스트안보이게

// 스크롤메뉴 비포 스크롤반응 색변경 및 넓이조절
// 메인비쥬얼3번 txt01,02 한글자씩 애니메이션
// 툰 스크롤반응시 애니메이션 (액티브랑겹쳐서 잘안됨)
