@import "vars";
@import "mixin";

#wrapper {
  width: 100vw;
  .contentsContainer {
    #sub_visual {
      height: 240px;
      position: relative;
      .img {
        height: 240px;
        width: 100vw;
        overflow: hidden;
        background-image: url("../images/business/sub_visual_5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .txt_wrap {
          position: absolute;
          width: 100vw;
          top: 50%;
          left: 50%;
          text-align: center;
          color: #fff;
          transform: translateX(-50%) translateY(-50%);
          h3 {
            font-size: 24px;
            font-weight: 700;
          }
          .txt_1 {
            margin-top: 12px;
            // padding: 0 14%;
            font-size: 12px;
            line-height: 1.5;
          }
        }
      }
    }
    .locationWrap {
      height: 100%;
      border-bottom: 1px solid #e3e3e3;
      .locationInner {
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 49px;

        .homeIcon {
          display: block;
          width: 68px;
          height: 49px;
          z-index: 2;
          // z-index: 10;
          position: relative;
          border-right: 1px solid #e3e3e3;
          border-left: 1px solid #e3e3e3;
          .roof {
            &::before {
              display: block;
              width: 10px;
              height: 10px;
              position: absolute;
              top: 20px;
              left: 17px;
              border-top: 2px solid #000;
              border-left: 2px solid #000;
              transform: rotate(45deg);
              content: "";
            }
            &::after {
              display: block;
              width: 8px;
              height: 8px;
              position: absolute;
              top: 25px;
              left: 17px;
              border: 2px solid #000;
              border-top: none;
              content: "";
            }
          }
        }
        .locationSelectArea {
          width: 220px;
          // z-index: 100;
          position: relative;
          text-align: center;
          z-index: 2;

          span {
            &::before {
              display: inline-block;
              width: 1px;
              height: 7px;
              position: absolute;
              top: 45%;
              right: 20px;
              transform: rotate(45deg);
              content: "";
              background-color: #000;
            }
            &::after {
              display: inline-block;
              width: 1px;
              height: 7px;
              position: absolute;
              top: 45%;
              right: 25px;
              transform: rotate(-45deg);
              content: "";
              background-color: #000;
            }
          }
          select {
            width: 100%;
            height: 49px;

            padding-left: 15px;
            border: 1px solid transparent;
            border-right: 1px solid #e3e3e3;

            font-size: 14px;
            appearance: none;
            outline: none;
          }
          .typeA {
            width: 260px;
          }
        }
      }
    }
    .contents {
      .titleWrap {
        h4 {
          margin-top: 40px;
          font-size: 28px;
          font-weight: 700;
          text-align: center;
        }
        p {
          margin-top: 26px;
          padding: 0 10%;
          font-size: 12px;
          text-align: center;
          line-height: 1.5;
          word-break: keep-all;
        }
      }
      .subWrap {
        position: relative;
        margin: 100px 0 160px 0;
        word-break: keep-all;
        line-height: 1.5;
        .areaInner {
          width: 94%;
          margin: 80px auto 0 auto;
          box-sizing: border-box;
          .tableName {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            height: 42px;
            margin-bottom: 12px;
            h5 {
              font-size: 16px;
              font-weight: 700;
            }
            span {
              font-size: 12px;
              color: #666;
            }
          }
          .nomalTable {
            width: 100%;
            border-top: 2px solid #000;
            tbody {
              tr {
                box-sizing: border-box;
                td {
                  height: 80px;
                  border: 1px solid #ededed;
                  border-left: none;
                  box-sizing: border-box;
                  font-size: 14px;
                  font-weight: 400;
                  text-align: center;
                  vertical-align: middle;
                  &:nth-last-child(1) {
                    border-right: none;
                  }
                  span {
                    font-size: 14px;
                    font-weight: 700;
                  }
                }
              }
            }
          }
          .table03 {
            tr {
              .tableLeft {
                padding-left: 5px;
                text-align: left;
                line-height: 1.5;
              }
            }
          }
          .table06 {
            .smallTable {
              font-size: 16px;
              color: #999;
            }
            .colorTable {
              color: #000;
              background-color: #f5f7fd;
            }
          }
          .table07 {
            .tableHead {
              line-height: 1.5;
            }
          }
          .dartBox {
            .dartLink {
              display: block;
              width: 320px;
              height: 60px;
              margin: 0 auto;
              border: 1px solid #000;
              font-size: 16px;
              text-align: center;
              line-height: 60px;
              span {
                display: inline-block;
                width: 42px;
                height: 16px;
                position: relative;
                margin-left: 14px;
                &:before {
                  display: block;
                  width: 42px;
                  height: 1px;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  content: "";
                  background-color: #000;
                }
                &:after {
                  display: block;
                  width: 12px;
                  height: 1px;
                  position: absolute;
                  right: 0;
                  bottom: 3px;
                  transform: rotate(30deg);
                  content: "";
                  background-color: #000;
                }
              }
            }
          }
        }
      }
      #regulation {
        .regulationTextBox {
          width: 100%;
          height: 500px;
          padding: 4% 6%;
          box-sizing: border-box;
          border: 1px solid #e3e3e3;
          overflow-y: auto;
          .regulationTextArea {
            box-sizing: border-box;
            word-break: keep-all;
            .regulationTitle {
              margin-bottom: 10px;
              font-size: 14px;
              font-weight: 600;
              text-align: left;
              color: #2e2e2e;
              line-height: 28px;
            }
            .regulationTxt {
              font-size: 12px;
              text-align: left;
              color: #2e2e2e;
              line-height: 25px;
              span {
                margin-top: 19px;
                font-weight: 600;
                line-height: 35px;
              }
              p {
                font-weight: 400;
                word-break: keep-all;
              }
            }
            .IR_txt2 {
              margin-top: 30px;
              font-size: 15px;
              text-align: justify;
              color: #2e2e2e;
              line-height: 25px;
              .title_01 {
                margin-top: 100px;
                font-size: 26px;
                font-weight: 600;
                text-align: center;
                line-height: 30px;
              }
              .title_02 {
                margin-top: 30px;
                font-size: 17px;
                font-weight: 600;
                text-align: left;
                line-height: 30px;
              }
            }
          }
        }
      }
      .announcement {
        .listAll {
          display: inline-block;
          position: relative;
          top: 25px;
          font-size: 18px;
          strong {
            font-weight: 400;
          }
        }
        .searchArea {
          // float: right;
          width: 50%;
          margin-left: auto;
          .areaSelectArea {
            position: relative;
            span {
              &::before {
                display: inline-block;
                width: 2px;
                height: 10px;
                position: absolute;
                top: 35%;
                right: 13px;
                transform: rotate(45deg);
                content: "";
                background-color: #000;
              }
              &::after {
                display: inline-block;
                width: 2px;
                height: 10px;
                position: absolute;
                top: 35%;
                right: 20px;
                transform: rotate(-45deg);
                content: "";
                background-color: #000;
              }
            }
            select {
              height: 44px;
              width: 100%;
              appearance: none;
              display: inline-block;
              outline: none;
              border: 1px solid #e3e3e3;
              padding-left: 14px;
              font-size: 15px;
            }
          }
          .inputArea {
            position: relative;
            border: 1px solid #e3e3e3;
            margin-top: 6px;
            input[type="text"] {
              width: 100%;
              height: 42px;
              line-height: 44px;
              box-sizing: border-box;
              padding: 0 36px 0 14px;
              font-size: 15px;
              &::placeholder {
                color: #bfbfbf;
              }
            }
            button {
              position: absolute;
              top: 3px;
              right: 2px;
              width: 36px;
              height: 36px;
              border: none;
              cursor: pointer;
              background-color: #fff;
              &:before {
                content: "";
                display: block;
                position: absolute;
                background-color: #fff;
                width: 12px;
                height: 12px;
                border: 2px solid #000;
                border-radius: 8px;
                top: 8px;
                right: 8px;
              }
              &:after {
                content: "";
                display: block;
                position: absolute;
                background-color: #000;
                width: 9px;
                height: 2px;
                bottom: 13px;
                right: 5px;
                transform: rotate(45deg);
              }
            }
          }
        }
        .workListArea {
          margin-top: 30px;
          width: 100%;
          border-top: 2px solid #000;
          .AnnouncementListWrap {
            li {
              position: relative;
              height: 70px;
              display: block;
              border-bottom: 1px solid #e3e3e3;
              .listTitle {
                height: 70px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .boardLi {
                  p {
                    width: 80%;
                    margin: 12px 0 0 6px;
                    box-sizing: border-box;
                    font-size: 14px;
                  }
                  span {
                    font-size: 11px;
                    color: #999;
                    margin-left: 6px;
                  }
                }
                .Announcementfile {
                  display: block;
                  width: 40px;
                  height: 40px;
                  position: absolute;
                  top: 15px;
                  right: 6px;
                  z-index: 1;
                  .fileDown {
                    width: 18px;
                    height: 7px;
                    position: absolute;
                    bottom: 10px;
                    left: 9px;
                    border: 2px solid #666666;
                    border-top: none;
                    &::before {
                      width: 8px;
                      height: 8px;
                      position: absolute;
                      bottom: 7px;
                      left: 4px;
                      border: 2px solid #666666;
                      border-top: none;
                      border-right: none;
                      transform: rotate(-45deg);
                      content: "";
                    }
                    &::after {
                      width: 2px;
                      height: 7px;
                      position: absolute;
                      bottom: 8px;
                      left: 8px;
                      transform: rotate(180deg);
                      transition: height 0.25s ease-in-out;
                      content: "";
                      background-color: #666;
                    }
                  }
                }
              }
              .paper {
                display: none;
                width: 100%;
                padding: 12px 16px 16px 12px;
                box-sizing: border-box;
                text-align: justify;
                color: rgb(153, 153, 153);
                line-height: 180%;
                background-color: #f6f6f6;
                &.on {
                  display: block;
                }
                h1 {
                  margin: 30px 0 10px 0;
                  font-size: 18pt;
                  font-weight: 700;
                }
                h2 {
                  font-size: 12pt;
                  font-weight: 700;
                }
                span {
                  display: block;
                }
                .center {
                  text-align: center;
                }
                p {
                  font-size: 9px;
                  letter-spacing: 1.5;
                }
                .date {
                  margin-bottom: 30px;
                  font-size: 14px;
                }
                .address {
                  font-size: 9.5pt;
                }
                .smallFz {
                  font-size: 9px;
                  line-height: 200%;
                }
                .indent01 {
                  text-indent: 25px;
                }
                .indent02 {
                  text-indent: 40px;
                }
                .indent03 {
                  text-indent: 50px;
                }
                .indent04 {
                  text-indent: 80px;
                }
                .indent05 {
                  text-indent: 110px;
                }
              }
            }
          }

          .pagenate {
            margin-top: 80px;
            text-align: center;
            a {
              display: inline-block;
              width: 36px;
              height: 36px;
              position: relative;
              margin-right: 0.1px;
              box-sizing: border-box;
              text-align: center;
              line-height: 36px;
              transition: all 0.2s ease;
              vertical-align: middle;
              &:hover {
                background-color: #f3f3f3;
              }
            }
            .preview {
              &::after {
                position: absolute;
                left: 35%;
                font-family: "Material Icons";
                font-size: 18px;
                font-weight: 500;
                content: "\e5e0";
              }
            }
            .next {
              &::after {
                position: absolute;
                right: 25%;
                font-family: "Material Icons";
                font-size: 18px;
                font-weight: 500;
                content: "\e5e1";
              }
            }
            .first {
              &::before {
                position: absolute;
                left: 30%;
                font-family: "Material Icons";
                font-size: 18px;
                font-weight: 300;
                content: "\e5e0";
              }
              &::after {
                position: absolute;
                left: 45%;
                font-family: "Material Icons";
                font-size: 18px;
                font-weight: 300;
                content: "\e5e0";
              }
            }
            .last {
              &::before {
                position: absolute;
                left: 20%;
                font-family: "Material Icons";
                font-size: 18px;
                font-weight: 300;
                content: "\e5e1";
              }
              &::after {
                position: absolute;
                left: 35%;
                font-family: "Material Icons";
                font-size: 18px;
                font-weight: 300;
                content: "\e5e1";
              }
            }
            .page {
              font-size: 15px;
              &.on {
                color: #fff;
                background-color: #000;
              }
            }
          }
        }
      }
    }
  }
}
#paperTable {
  width: 724.33px;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  h1 {
    font-size: 16pt;
    font-weight: 700;
  }
  strong {
    display: block;
    margin-top: 50px;
    font-size: 14pt;
    text-align: center;
    letter-spacing: 30px;
  }
  .companyBox {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }
  .thanks {
    margin-bottom: 20px;
    margin-left: 70px;
    text-align: left;
    word-break: keep-all;
  }
  .announceTable {
    border: 1px solid;
    box-sizing: border-box;
    word-break: keep-all;
    thead {
      border: 1px solid #000;
      border-bottom: none;
      text-align: center;
    }
    .bold {
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 2px;
    }
    tbody {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
    }
    td {
      border-right: 1px solid #000;
      font-size: 15px;
      &:nth-child(2n) {
        padding-right: 15px;
        text-align: right;
      }
    }
  }
}
