#wrapper { width: 100vw; }

#wrapper .contentsContainer #sub_visual { height: 240px; position: relative; }

#wrapper .contentsContainer #sub_visual .img { height: 240px; width: 100vw; overflow: hidden; background-image: url("../images/business/sub_visual_2.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center; }

#wrapper .contentsContainer #sub_visual .img .txt_wrap { position: absolute; width: 100vw; top: 50%; left: 50%; text-align: center; color: #fff; transform: translateX(-50%) translateY(-50%); }

#wrapper .contentsContainer #sub_visual .img .txt_wrap h3 { font-size: 24px; font-weight: 700; }

#wrapper .contentsContainer #sub_visual .img .txt_wrap .txt_1 { margin-top: 12px; font-size: 12px; line-height: 1.5; }

#wrapper .contentsContainer .locationWrap { height: 100%; border-bottom: 1px solid #e3e3e3; }

#wrapper .contentsContainer .locationWrap .locationInner { display: flex; width: 100%; margin: 0 auto; height: 49px; }

#wrapper .contentsContainer .locationWrap .locationInner .homeIcon { display: block; width: 68px; height: 49px; z-index: 2; position: relative; border-right: 1px solid #e3e3e3; border-left: 1px solid #e3e3e3; }

#wrapper .contentsContainer .locationWrap .locationInner .homeIcon .roof::before { display: block; width: 10px; height: 10px; position: absolute; top: 20px; left: 17px; border-top: 2px solid #000; border-left: 2px solid #000; transform: rotate(45deg); content: ""; }

#wrapper .contentsContainer .locationWrap .locationInner .homeIcon .roof::after { display: block; width: 8px; height: 8px; position: absolute; top: 25px; left: 17px; border: 2px solid #000; border-top: none; content: ""; }

#wrapper .contentsContainer .locationWrap .locationInner .locationSelectArea { width: 220px; position: relative; text-align: center; z-index: 2; }

#wrapper .contentsContainer .locationWrap .locationInner .locationSelectArea span::before { display: inline-block; width: 1px; height: 7px; position: absolute; top: 45%; right: 20px; transform: rotate(45deg); content: ""; background-color: #000; }

#wrapper .contentsContainer .locationWrap .locationInner .locationSelectArea span::after { display: inline-block; width: 1px; height: 7px; position: absolute; top: 45%; right: 25px; transform: rotate(-45deg); content: ""; background-color: #000; }

#wrapper .contentsContainer .locationWrap .locationInner .locationSelectArea select { width: 100%; height: 49px; padding-left: 15px; border: 1px solid transparent; border-right: 1px solid #e3e3e3; font-size: 14px; appearance: none; outline: none; }

#wrapper .contentsContainer .locationWrap .locationInner .locationSelectArea .typeA { width: 260px; }

.contents .titleWrap h4 { font-size: 28px; font-weight: 700; text-align: center; margin-top: 40px; }

.contents .subWrap { position: relative; margin: 40px 0 100px 0; overflow: hidden; }

.contents .subWrap .tabArea { width: 100%; margin: 0 auto; text-align: center; border-bottom: 1px solid #e3e3e3; }

.contents .subWrap .tabArea.tabAreaBlind { opacity: 0; pointer-events: none; }

.contents .subWrap .tabArea a { display: inline-block; font-size: 13px; position: relative; color: #666; padding: 10px 8px; transition: all 0.3s ease-in-out; }

.contents .subWrap .tabArea a:after { content: ""; display: block; position: absolute; background-color: #f22fb0; height: 2px; width: 100%; bottom: -2px; z-index: 2; right: 0; transform: scaleX(0); transition: all 0.25s ease-in; }

.contents .subWrap .tabArea a.on { color: #f22fb0; }

.contents .subWrap .tabArea a.on:after { transform: scaleX(1); }

.contents .subWrap .areaInner { width: 94%; margin: 30px auto 0 auto; }

.contents .subWrap .areaInner .business .searchArea { width: 50%; margin-left: auto; }

.contents .subWrap .areaInner .business .searchArea .areaSelectArea { position: relative; }

.contents .subWrap .areaInner .business .searchArea .areaSelectArea span::before { display: inline-block; width: 2px; height: 10px; position: absolute; top: 35%; right: 13px; transform: rotate(45deg); content: ""; background-color: #000; }

.contents .subWrap .areaInner .business .searchArea .areaSelectArea span::after { display: inline-block; width: 2px; height: 10px; position: absolute; top: 35%; right: 20px; transform: rotate(-45deg); content: ""; background-color: #000; }

.contents .subWrap .areaInner .business .searchArea .areaSelectArea select { height: 44px; width: 100%; appearance: none; display: inline-block; outline: none; border: 1px solid #e3e3e3; padding-left: 14px; font-size: 15px; }

.contents .subWrap .areaInner .business .searchArea .inputArea { position: relative; border: 1px solid #e3e3e3; margin-top: 6px; }

.contents .subWrap .areaInner .business .searchArea .inputArea input[type="text"] { width: 100%; height: 42px; line-height: 44px; box-sizing: border-box; padding: 0 36px 0 14px; font-size: 15px; }

.contents .subWrap .areaInner .business .searchArea .inputArea input[type="text"]::placeholder { color: #bfbfbf; }

.contents .subWrap .areaInner .business .searchArea .inputArea button { position: absolute; top: 3px; right: 2px; width: 36px; height: 36px; border: none; cursor: pointer; background-color: #fff; }

.contents .subWrap .areaInner .business .searchArea .inputArea button:before { content: ""; display: block; position: absolute; background-color: #fff; width: 12px; height: 12px; border: 2px solid #000; border-radius: 8px; top: 8px; right: 8px; }

.contents .subWrap .areaInner .business .searchArea .inputArea button:after { content: ""; display: block; position: absolute; background-color: #000; width: 9px; height: 2px; bottom: 13px; right: 5px; transform: rotate(45deg); }

.contents .subWrap .areaInner .business .workListArea { width: 100%; }

.contents .subWrap .areaInner .business .workListArea ul { width: 100%; margin-top: 30px; }

.contents .subWrap .areaInner .business .workListArea ul li { margin-top: 30px; }

.contents .subWrap .areaInner .business .workListArea ul li .contentsList { width: 100%; padding-bottom: 10px; border: 1px solid #e3e3e3; }

.contents .subWrap .areaInner .business .workListArea ul li .contentsList .imgArea { text-align: center; height: 276px; width: 100%; background-color: #000; }

.contents .subWrap .areaInner .business .workListArea ul li .contentsList .imgArea img { width: 50%; margin: 0 auto; height: 276px; size: cover; vertical-align: top; }

.contents .subWrap .areaInner .business .workListArea ul li .contentsList span { font-size: 16px; font-weight: 700; display: inline-block; margin: 12px 0 0 14px; }

.contents .subWrap .areaInner .business .workListArea ul li .contentsList p { margin: 8px 0 4px 14px; font-size: 12px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.contents .subWrap .areaInner .business .workListArea .pagenate { margin-top: 80px; text-align: center; }

.contents .subWrap .areaInner .business .workListArea .pagenate a { display: inline-block; text-align: center; width: 36px; height: 36px; line-height: 34px; vertical-align: middle; box-sizing: border-box; position: relative; }

.contents .subWrap .areaInner .business .workListArea .pagenate .preview::after { content: "\e5e0"; font-family: "Material Icons"; font-size: 18px; font-weight: 500; position: absolute; left: 35%; }

.contents .subWrap .areaInner .business .workListArea .pagenate .next::after { content: "\e5e1"; font-family: "Material Icons"; font-size: 18px; font-weight: 500; position: absolute; right: 25%; }

.contents .subWrap .areaInner .business .workListArea .pagenate .first::before { content: "\e5e0"; font-family: "Material Icons"; font-size: 18px; font-weight: 300; position: absolute; left: 30%; }

.contents .subWrap .areaInner .business .workListArea .pagenate .first::after { content: "\e5e0"; font-family: "Material Icons"; font-size: 18px; font-weight: 300; position: absolute; left: 45%; }

.contents .subWrap .areaInner .business .workListArea .pagenate .last::before { content: "\e5e1"; font-family: "Material Icons"; font-size: 18px; font-weight: 300; position: absolute; left: 20%; }

.contents .subWrap .areaInner .business .workListArea .pagenate .last::after { content: "\e5e1"; font-family: "Material Icons"; font-size: 18px; font-weight: 300; position: absolute; left: 35%; }

.contents .subWrap .areaInner .business .workListArea .pagenate .page { font-size: 15px; }

.contents .subWrap .areaInner .business .workListArea .pagenate .page.on { color: #fff; background-color: #000; }

.contents .subWrap .areaInner .business .movie02 { margin-bottom: 700px; }

.contents .subWrap .areaInner .business .movie02 .pagenate { visibility: hidden; }

.contents .subWrap .areaInner .business .movie01 { display: none; }

.contents .subWrap .areaInner .business .movie01.on { display: block; }

.contents .subWrap .areaInner .business .movie02 { display: none; }

.contents .subWrap .areaInner .business .movie02.on { display: block; }

.contents .subWrap .areaInner .business .movie03 { display: none; }

.contents .subWrap .areaInner .business .movie03.on { display: block; }

.contents .subWrap .areaInner .business .movie04 { display: none; }

.contents .subWrap .areaInner .business .movie04.on { display: block; }

.contents .subWrap .areaInner .business .novel01.off { display: none; }

.contents .subWrap .areaInner .business .novel02 { display: none; }

.contents .subWrap .areaInner .business .novel02.on { display: block; }

.contents .subWrap .areaInner .business .page01 { display: none; }

.contents .subWrap .areaInner .business .page01.on { display: block; }

.contents .subWrap .areaInner .business .page02 { display: none; }

.contents .subWrap .areaInner .business .page02.on { display: block; }

.contents .subWrap .areaInner .business .page03 { display: none; }

.contents .subWrap .areaInner .business .page03.on { display: block; }

#footer { padding-top: 50px; position: relative; background-color: #333; color: #666; }

#footer .footMain { display: flex; justify-content: center; text-align: center; }

#footer .footMain a { margin: 0 15px 30px; }

#footer address { display: flex; justify-content: center; font-size: 14px; text-align: center; line-height: 140%; }

#footer .footMenuBox { position: relative; margin-top: 50px; height: 70px; line-height: 70px; background-color: #373737; }

#footer .footMenuBox a { position: absolute; text-align: center; font-weight: 400; color: #999; top: 0; left: 20%; font-size: 16px; width: 266px; height: 70px; line-height: 70px; border-left: 1px solid #3f434b; border-right: 1px solid #3f434b; background: none; }

#footer .footMenuBox ul { transform: translateX(43%); }

#footer .footMenuBox ul .footMenu { float: left; }

#footer .footMenuBox ul .footMenu a { position: relative; display: block; margin: 0 20px; margin-top: 23px; width: 79px; height: 23px; border: none; background-repeat: no-repeat; background-size: 72px 22px; }

#footer .footMenuBox ul .footMenu a.footVisual01 { background-image: url("../images/layout/foot_bi_1.png"); }

#footer .footMenuBox ul .footMenu a.footVisual02 { background-image: url("../images/layout/foot_bi_2.png"); }

#footer .footMenuBox ul .footMenu a.footVisual03 { background-image: url("../images/layout/foot_bi_3.png"); }

#footer .footMenuBox ul .footMenu a.footVisual04 { background-image: url("../images/layout/foot_bi_4.png"); }

#footer .footMenuBox ul .footMenu a.footVisual05 { background-image: url("../images/layout/foot_bi_5.png"); }

#footer .footMenuBox ul .footMenu a.footVisual06 { background-image: url("../images/layout/foot_bi_6.png"); }

#toon { width: 100%; display: block; }

#toon .swiper-wrapper { position: relative; height: 800px; }

#toon .swiper-wrapper a { width: 100%; color: #fff; z-index: -2; }

#toon .swiper-wrapper a i { position: absolute; font-size: 26px; font-weight: 700; top: 320px; left: 130px; transform: translateX(20%); opacity: 0; }

#toon .swiper-wrapper a i::before { content: ""; width: 70px; height: 1px; display: block; position: absolute; bottom: 4px; right: -80px; background-color: #fff; opacity: 0.5; }

#toon .swiper-wrapper a i em { font-weight: 300; }

#toon .swiper-wrapper a i em::after { content: ""; width: 28px; height: 1px; display: block; position: absolute; bottom: 12px; right: -83px; background-color: #fff; transform: rotate(35deg); opacity: 0.5; }

#toon .swiper-wrapper a span { width: 100%; height: 100%; margin-top: 50px; position: absolute; right: -5.5%; opacity: 0; transform: translateX(5%); overflow: hidden; }

#toon .swiper-wrapper a .service { opacity: 0; font-size: 70px; font-weight: 700; position: absolute; top: 35%; left: 50px; z-index: -1; transform: translateY(5%); }

#toon .swiper-wrapper .txtBox { margin-top: 450px; padding: 0 8%; background-color: #fff; height: 300px; }

#toon .swiper-wrapper .txtBox h3 { font-size: 24px; font-weight: 600; margin-top: 200px; margin-bottom: 20px; transform: translateX(-5%); opacity: 0; }

#toon .swiper-wrapper .txtBox p { line-height: 1.7; font-weight: 300; font-size: 12px; }

#toon .swiper-wrapper .swiper-slide { overflow: hidden; }

#toon .swiper-wrapper .swiper-slide a { z-index: 10; }

#toon .swiper-wrapper .swiper-slide .box { width: 100%; height: 100px; position: absolute; top: 0; left: 0; z-index: -3; }

#toon .swiper-wrapper .swiper-slide .box02 { top: 100px; }

#toon .swiper-wrapper .swiper-slide .box03 { top: 200px; }

#toon .swiper-wrapper .swiper-slide .box04 { top: 300px; }

#toon .swiper-wrapper .bomtoon span { background-image: url(../images/img_service_1.png); background-size: 355px 345px; background-repeat: no-repeat; }

#toon .swiper-wrapper .bomtoon .box { background-color: #e42ca6; }

#toon .swiper-wrapper .delitoon span { background-image: url(../images/img_service_3.png); background-size: 355px 345px; background-repeat: no-repeat; }

#toon .swiper-wrapper .delitoon .box { background-color: #6727a9; }

#toon .swiper-wrapper .swiper-slide-active a { transform: translateX(0%); }

#toon .swiper-wrapper .swiper-slide-active a span { opacity: 1; transform: translateX(0%); transition: all 0.5s 0.5s; }

#toon .swiper-wrapper .swiper-slide-active a i { transform: translateX(0%); transition: all 0.5s 0.5s; opacity: 1; }

#toon .swiper-wrapper .swiper-slide-active a .service { transform: translateY(0%); transition: all 0.5s 0.5s; opacity: 0.1; }

#toon .swiper-wrapper .swiper-slide-active .txtBox h3 { opacity: 1; transform: translateX(0%); transition: all 0.5s 0.5s ease; }

#toon .swiper-wrapper .swiper-slide-active .txtBox p { opacity: 1; animation: upDown 0.5s 0.5s both; }

#toon .swiper-wrapper .swiper-slide-active .box { animation: leftRight 0.3s both; }

#toon .swiper-wrapper .swiper-slide-active .box01 { animation-delay: 0; }

#toon .swiper-wrapper .swiper-slide-active .box02 { animation-delay: 0.1s; }

#toon .swiper-wrapper .swiper-slide-active .box03 { animation-delay: 0.2s; }

#toon .swiper-wrapper .swiper-slide-active .box04 { animation-delay: 0.3s; }

#toon .pagination { position: absolute; z-index: 1; display: flex; align-items: flex-end; opacity: 0; }

#toon .pagination .swiper-pagination-bullet { width: 35px; height: 2px; border-radius: 0; left: 145px; top: 500px; opacity: 1; background-color: rgba(0, 0, 0, 0.1); position: relative; }

#toon .pagination .swiper-pagination-bullet::after { content: ""; display: block; position: absolute; display: block; width: 0; height: 100%; background-color: #e42ca6; }

#toon .pagination .swiper-pagination-bullet-active::after { width: 100%; }

#toon.scroll { opacity: 1; animation: fadein 1s; }

#toon.scroll button { opacity: 1; }

#toon.scroll .pagination { opacity: 1; }

@keyframes leftRight { 0% { opacity: 0;
    transform: translateX(-50%); }
  100% { opacity: 1;
    transform: translateX(0%); } }

@keyframes upDown { 0% { opacity: 0;
    transform: translateY(10%); }
  100% { opacity: 1;
    transform: translateY(0%); } }
